[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
grpcio-tools = "*"
googleapis-common-protos = "*"
pylint = "*"
twine = "*"
setuptools = "*"
wheel = "*"
sphinx = "*"

[packages]
grpcio = "*"
protobuf = "*"
six = "*"
cryptography = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-coverage = "*"

[requires]
python_version = "3.6"
